* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.tooltip-container2 {
  margin-top: 100px;
  position: relative;
}

.tooltip-container2 .tooltip p {
  position: absolute;
  bottom: -56px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid var(--bg-color);
  padding: 8px 10px;
  border-radius: 25px;
  min-width: 90px;
  text-align: center;
  transition: 0.3s cubic-bezier(0.58, -0.2, 0.65, 1.62);
}
.tooltip-container3 {
  margin-top: 120px;
  position: relative;
}
.tooltip-container3 .tooltip {
  margin-left: 28px;
}
.tooltip-container3 .tooltip i {
  font-size: 38px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.58, -0.2, 0.65, 1.62);
}

.tooltip-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
}

.tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  background-color: rgb(243, 239, 239);
  box-shadow: 0 0 12px 2px rgba(236, 232, 232, 0.712);
  padding: 10px;
  transition: 0.3s cubic-bezier(0.58, -0.2, 0.59, 1.21);
  border: 2px solid transparent;
  &:hover {
    border: 2px solid var(--bg-color);
    box-shadow: 0 0 16px 1px var(--bg-color);
  }
}
.tooltip img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: contain;
  object-position: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.tooltip::after {
  content: attr(data-name);
  position: absolute;
  top: -5px;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  background-color: var(--bg-color);
  color: white;
  padding: 10px 12px;
  border-radius: 25px;
  min-width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s cubic-bezier(0.58, -0.2, 0.65, 1.62);
}
.tooltip::before {
  content: "";
  position: absolute;
  top: 0;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 20px;
  height: 20px;
  background-color: var(--bg-color);
  transition: 0.3s cubic-bezier(0.58, -0.2, 0.65, 1.62);
}

.tooltip:hover::after {
  top: -64px;
  opacity: 1;
}
.tooltip:hover::before {
  top: -38px;
  opacity: 1;
}
.tooltip:hover p {
  bottom: 0;
  opacity: 0;
}
.tooltip:hover i {
  color: var(--bg-color);
}